* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
}
nav {
	background-image: url(../img/main.png);
	background-size: 30%;
	background-position: 76% 60%;
	background-repeat: no-repeat;
	background-color: #A6D2DB;
	height: 600px;
	width: 100%;

}
nav div {
	display: inline;
}

nav .logo, nav .text {
	line-height: 20px;
	font-size: 24px;
	float: left;
	margin-top: 25px;
	color: #444444;
}
.logo img {

	margin-left: 150px;
	height: 45px;
	width: 45px;
}
nav .text {
	padding-left: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 35px;
}
nav ul {
	float: right;
	padding: 15px 15px;
	padding-right: 35px;
	font-size: 20px;
	color: #444444;
	margin-top: 20px;
	margin-right: 150px;
}
nav ul li {
	display: inline-block;
	list-style-type: circle;
	
}
nav ul li.active a {
	color: tomato;
}
nav ul li a {
	color: #444444;
	text-decoration: none;
	margin-right: 30px;
	text-transform: uppercase;
	font-weight: bold;

}
.main {
	float: left;
	margin-left: 90px;
	margin-top: 150px;
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	width: 40%;
	height: 350px;
}
.main h1 {
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
}
.white {
	height: 350px;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.white div {
	width: 30%;
	padding: 5px;
	margin: 10px 20px;
	display: inline-block;
}
.white div h3 {
	font: bold 25px;
	text-align: center;
}
.white div p {
	text-align: center;
	font-size: 15px;
	margin: 0 25px;
	color: gray;
}
.recentwork {
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
	color: white;
	width: 100%;
	height: 900px;
	background-color: #98D3A5;
}
.recentwork h1 {
	font-size: 30px;
}
.recentwork p {
	font-size: 20px;
	margin: 0 180px;
}
.recentwork span {
	padding: 2px;
	text-align: center;
	margin: 0 15px;
}
.recentwork h1,
.recentwork p {
	text-align: center;
}
.recentwork h2 {
	display: inline-block;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
.recentwork h2 .white {
	background-color: white;
	color: gray;
}
.recentwork h2 .selected {
	border: white 2px solid;
	border-radius: 8px;
}
.recentwork .box {
	display: inline-block;
	margin: 25px 15px;
	padding: 15px;
	width: 25%;

}
.button * {
	margin: 0 auto;
	text-align: center;
	height: 50px;
	width: 150px;
	font-weight: bold;
	color: gray;
	border-radius: 10px;
	border-color: transparent;

}
.button a * {
	cursor: pointer;
}
.buttonleft a * {
	cursor: pointer;
}
.buttonright a * {
	cursor: pointer;
}
.recentwork img {
	height: 200px;
	width: 300px;
}
.gray {
	height: 600px;
	width: 100%;
	background-color: #F0F0F0;
	text-align: center;
	padding-top: 30px;
}
.gray .left {
	float: left;
	height: 200px;
	width: 250px;
	margin: 20px 50px 5px 35px;
}
.gray .right {
	float: right;
	height: 200px;
	width: 250px;
	margin: 20px 35px 5px 50px;
}
.gray h1,
.gray p {
	text-align: left;
	color: black;
}
.gray h1 {
	font-weight: bold;
	padding-top: 20px;
}
.gray p {
	margin: 0 60px;
	height: 25px;
	width: 80%;
}
.gray hr {
	margin: 0 225px;
}
.gray .lay {
	margin-left: 30px;
}
.gray div {
	margin: 0 200px 100px 200px;
}
.gray .buttonleft {
	position: absolute;
	margin-left: 335px;
	margin-top: 60px;
}
.gray .buttonleft button {
	height: 50px;
	width: 150px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: gray;
	border-radius: 10px;
	border-color: transparent;
}
.gray .buttonright {
	position: absolute;
	margin-left: 30px;
	margin-top: 60px;
}
.gray .buttonright button {
	height: 50px;
	width: 150px;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: gray;
	border-radius: 10px;
	border-color: transparent;
}
.pink {
	height: 580px;
	width: 100%;
	text-align: center;
	background-color: #DEB4C5;
}
.pink h1 {
	font: bold 25px;
	padding-top: 30px;
}
.pink p {
	font: 15px;
	margin: 10px 200px;
}
.pink h1, p {
	color: white;
}
.profile {
	width: 30%;
	height: 380px;
	display: inline-block;
	padding-bottom: 50px;
}

.profile .fa-user {
	margin: 0;
	padding-top: 40px;
	color: white;
	font-size: 80px;
	width: 200px;
	height: 150px;
	background-color: lightgray;
}
.profile h2, h3 {
	font: bold black;
	background-color: white;
	width: 200px;
	margin: 0 auto;
	padding: 8px 0;
}
.profile h2, h3, p {
	text-align: center;
	margin: 0 auto;
}
.profile p {
	background-color: white;
	color: gray;
	margin: 0 auto;
	font-size: 5px;
	padding: 0 20px 30px 20px;
	width: 160px;
	}
.profile .fa-facebook-official, .fa-twitter, .fa-pinterest {
	margin-left: 8px;
	padding-right: 7px;
	float: right;
}
.profile .sc {
	width: 200px;
	height: 30px;
	margin: 0 auto;
	background-color: white;
}

/**another div for blue**/


.blue {
	height: 580px;
	width: 100%;
	text-align: center;
	background-color: #B4D4E1;
}
.blue h1 {
	font: bold 25px;
	padding-top: 30px;
}
.blue p {
	font: 15px;
	margin: 10px 200px;
}
.blue h1, p {
	color: white;
}
.profile .fa-arrows-alt {
	margin: 0;
	padding-top: 40px;
	color: white;
	font-size: 80px;
	width: 200px;
	height: 150px;
	background-color: lightgray;
}
.blue .profile p {
	background-color: white;
	color: gray;
	margin: 0 auto;
	font-size: 5px;
	padding: 0 20px 30px 20px;
	width: 160px;
}
.bt {
	width: 100%;
	height: 500px;
	background-color: #3C3C3C;
	color: #FEFEFE;
}
.bt h1 {
	text-align: center;
	padding-top: 30px;
}
form div {
	margin-top: 20px;
	text-align: center;
}
form > input, 
form > textarea {
	margin: 1% auto;
	display: block;
	width: 30%;
	background-color: #FEFEFE;
	padding: 10px;
	font-size: 16px;
	border-radius: 2px;
	border: 1px solid #f6f9f9;
	color: #fff;
}
form textarea {
	margin: 0 auto;
	display: block;
}
footer {
	width: 100%;
	height: 80px;
}
footer p {
	width: 265px;
	text-align: left;
	float: right;
}
footer .socialmedia {
	width: 80px;
	margin-right: 50px;
	display: inline-block;
	float: right;
}
footer i {
	color: #FEFEFE;
}

/**Responsive Design**/
@media (max-width: 1238px) {
	.main {
		width: 60%;
		margin-left: 0;
	}
	.main h1 {
		font-size: 40px;
	}
}
@media (max-width: 1358px) {
	nav {
		width: 80%;
	}
	.logo img {
		margin-left: 10px;
	}
	nav ul {
		width: 60%;
		margin-right: 0;
	}
	nav ul li {
		padding-right: 0;
	}
	.main h1 {
		font-size: 35px;
	}
}
@media (max-width: 1281px) {
	nav {
		width: 70%;
		background-position: 70% 40%;
	}
	nav .text, nav ul {
		font-size: 15px;
	}
	nav .main {
		width: 35%;
		margin-left: 0;
		margin-top: 120px;
	}
}